#root {
  margin: 0;
  padding: 2rem;
  max-width: 100%;
  text-align: initial;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.page-content {
  padding-top: 80px; 
}

.hero-btn {
  background-color: #a7bffd;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #8ea7e8;
}

.hero-btn.secondary {
  background-color: #e6ddc4;
}

.hero-btn.secondary:hover {
  background-color: #d4c3a3;
}
